<ion-tabs class="tabs-icon-top">
 
 <!-- Dashboard Tab -->
 <ion-tab title="Inicio" icon="icon ion-home" href="#/tab/inicio">
 <ion-nav-view name="tab-dash"></ion-nav-view>
 </ion-tab>
 
 <!-- Friends Tab -->
 <ion-tab title="Mis Reservas" icon="icon ion-heart" href="#/tab/misReservas">
 <ion-nav-view name="tab-friends"></ion-nav-view>
 </ion-tab>
 
 
 <!-- Account Tab -->
 <ion-tab title="Cocheras" icon="icon ion-gear-b" href="#/tab/cocheras">
 <ion-nav-view name="tab-account"></ion-nav-view>
 </ion-tab>
 
 
</ion-tabs>