page-tabs {
	.tab {
		color: #B5E61D;
	}
	
	.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    opacity: 1;
}



.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    color: red;
}

}
