page-tabs {
	.tab {
		color: #a04242 !important;
	}
	
	.ajustes {
		background: #B5E61D;
		border-radius: 30px !important;
		border: 2px solid #000000;
	}
	
	.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    opacity: 1;
}

::-webkit-scrollbar,
    *::-webkit-scrollbar {
      display: none;
    }

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    color: red;
}

}
.tabs-md .tabbar {
    background: #b5e61d;
}

.tabs-md .tab-button[aria-selected=true] {
    padding: 6px 0 10px 0;
    color: #222;
}