<ion-content padding>

		<h1><ion-label text-center>Disponibilidad de Cocheras</ion-label></h1><br/>
			<ion-item><ion-label style="Sposition: absolute;">Día: </ion-label><ion-datetime 
			displayFormat="DD/MM/YYYY" 
			pickerFormat="DD MMMM YYYY"
			[min]="minDate"
			dayValues = "01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31"
			monthValues = {{setMeses()}}
			monthNames = {{getNombreMeses()}}
			cancelText="Cancelar"
			style="width: 100%;"
			doneText="Aceptar"
			[(ngModel)]="fechaElegida"
			(ionChange)="changeDate(fechaElegida)"></ion-datetime></ion-item>
			<br/>
			<ion-row>
				<!--<ion-col><ion-item><ion-label>Desde: </ion-label><ion-datetime displayFormat="HH:00" hourValues="08, 09, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20" cancelText="Cancelar" doneText="Acpetar" [(ngModel)]="horaDesde" (click)="setHoraDesde()"></ion-datetime></ion-item></ion-col>
				<ion-col><ion-item><ion-label>Hasta: </ion-label><ion-datetime displayFormat="HH:00" hourValues="08, 09, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20" cancelText="Cancelar" doneText="Acpetar" [(ngModel)]="horaHasta" (click)="setHoraHasta()"></ion-datetime></ion-item></ion-col>-->
			</ion-row>
			<ion-col class="signup-col">
			  <button ion-button type="button" style="color: #222;" (click)="buscar()" [disabled]="habilitarBoton==null" class="submit-btn"><b>Buscar</b></button>
			</ion-col>
			
			<br/>
			
			<div [hidden]="ocultarResultados">
				<div>
					<ion-row><ion-label class="label_cocheras" text-center><b>Cocheras Disponibles</b></ion-label></ion-row>
						<ion-row class="row header">
						  <ion-col class="col">Dirección y Espacio</ion-col>
						  <ion-col width-25 class="col">Horario</ion-col>
						  <ion-col width-10 class="col"></ion-col>
						</ion-row >
						<ion-list radio-group>
							<ion-row class="row" *ngFor="let item of disponibles | orderBy : ['v_espacio'] | orderBy : ['-v_Dispo']; let i of disponibles.length" [ngStyle]="{'background-color': devolverColorFilaDisponible(i)}">
							  <ion-col class="col">{{item.v_nombre}} - ({{item.v_espacio}})</ion-col>
							  <ion-col width-25 class="col">{{item.horaDesde}}<br>{{item.horaHasta}}</ion-col>
							  <ion-col width-10 class="col"><ion-radio (click)="marcarRadioCocheraDisponible(i)" [disabled]="indiceRadio==null"></ion-radio></ion-col>
							</ion-row>
						</ion-list>
				</div>
				<ion-label class="label_boton"><b> </b>
					<button ion-button type="button" class="boton" style="color: #222;" [disabled]="indiceCocheraDisponible==null" (click)="showPrompt('')">
						<ion-label style="text-align: center">Reservar: <ion-icon name="car"></ion-icon></ion-label>
					</button>
				</ion-label>
				
				<div>
						<ion-row><ion-label class="label_cocheras" text-center><b>Cocheras sin Disponibilidad</b></ion-label></ion-row>
						<ion-row class="row header">
						  <ion-col width-30 class="col">Dirección</ion-col>
						  <ion-col width-15 class="col">Horario</ion-col>
						  <ion-col width-30 class="col">Usuario</ion-col>
						  <ion-col width-10 class="col"></ion-col>
						</ion-row>
						<ion-list radio-group>
							<ion-row class="row" *ngFor="let item of noDisponibles | orderBy : ['v_espacio']; let i of noDisponibles.length" [ngStyle]="{'background-color': devolverColorFilaNoDisponible(i)}">
							  <ion-col width-30 class="col">{{item.v_nombre}} - ({{item.v_espacio}})</ion-col>
							  <ion-col width-15 class="col">{{item.horaDesde}}<br/>{{item.horaHasta}}</ion-col>
							  <ion-col width-30 class="col">{{item.v_nombreCompleto}}</ion-col>
							  <ion-col width-10 class="col"><ion-radio (click)="marcarRadioCocheraNoDisponible(i)" [disabled]="indiceRadio==null"></ion-radio></ion-col>
							</ion-row>
						</ion-list>
				</div>
				<ion-label class="label_boton"><b> </b>
					<button ion-button type="button" class="boton" style="color: #222;" [disabled]="indiceCocheraNoDisponible==null" (click)="llamar()">
						<ion-label style="text-align: center">Llamar: <ion-icon name="call"></ion-icon></ion-label>
						<!--<a ion-button href="tel:{{telefonoNoDisponible}}"></a>-->
					</button>
				</ion-label>
			</div>
			<br/>
			<ion-label text-center><b>NOTA: </b>no se pueden hacer reservas en horario posterior a las 20:00 hs.</ion-label>
</ion-content>
			   
	