page-home {

.header .col {
		background-color:lightgrey;
		align-items: center!important;
		text-align: center;
		display: flex;
		justify-content: center;
	}

.col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
	align-items: center!important;
	display: flex;
	justify-content: center;
}

.col:last-child {
    border-right: solid 1px grey;
	align-items: center!important;
	justify-content: center;
}

.row:last-child .col {
    border-bottom: solid 1px grey;
	align-items: center!important;
	justify-content: center;
}

.signup-col {
	align-items: center!important;
	justify-content: center;
	display: flex;
}

.titulo{
	align-items: center;
    text-align: center;
}

::-webkit-scrollbar,
    *::-webkit-scrollbar {
      display: none;
    }

}

.alert-button-group{
    flex-direction: column;
    }

.alert-button:hover {
    background-color: rgba(23, 90, 204, 0.22) !important;
    transition: 90ms all ease-in-out !important;
    border: solid !important;
    color: #3474e1 !important;
}

.alert-md .alert-button {
    position: relative;
    overflow: hidden;
    margin: 7px 8px -1px 200px;
    padding: 10px;
    border-radius: 20px;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
         color: rgba(151, 162, 114, 0.64) !important;
    background-color: #b5e61d;
    width: 100%;
    border: solid;
        border-color: #bdbdbd;
}
.alert-md .alert-message {
    max-height: 240px;
    overflow-y: hidden;
    font-size: 15px;
}

.alert-md .alert-wrapper {
    max-width: 280px;
    border-radius: 2px;
    background: #f4f4f4;
    box-shadow: 0 0 15px #000 inset !important;
    background-color: #f4f4f4 !important;
}
.boton {
   background: #B5E61D;
   border-radius: 30px !important;
   border: 2px solid #000000;
}

.submit-btn {
	background: #B5E61D;
	border-radius: 30px !important;
	border: 2px solid #000000;
}

scroll-content {
    overflow-y: auto;
}

::-webkit-scrollbar,
    *::-webkit-scrollbar {
      display: none;
    }