page-login {
 
  .login-content {
    background: #ffffff;
 
    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }



 
    .login-box {
      background: #ffffff;
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
     ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #000000 !important;
         box-shadow: none !important;
     }
 
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }
 
     .item-inner {
       box-shadow: none !important;
     }
 
     .submit-btn {
       background: #B5E61D;
       border-radius: 30px !important;
       border: 2px solid #000000;
     }
 
     .register-btn {
       color: #000000;
       font-size: 0.8em;
     }
  }
  
  ::-webkit-scrollbar,
    *::-webkit-scrollbar {
      display: none;
    }


 
}
  
.alert-md .alert-wrapper {
       max-width: 350px;
    border-radius: 30px;
    background-color: #e1f5a4;
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
        color: #222;
    }
    .alert-title {
    font-size: 22px;
    text-align: center;
}
.alert-md .alert-button .button-inner {
     justify-content: center;
         color: #222;
}




.alert-button-group {
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 8px 8px 8px 24px;
    display: flex;
    margin: auto;
}

.alert-md .alert-sub-title {
    font-size: 16px;
    text-align: center;
}