page-reserva-recurrente {


.submit-btn-recurrence {
	background: #Ef190E;
	float: right;
}

.submit-btn-ok{
	background: #B5E61D;
	border-radius: 30px !important;
	border: 2px solid #000000;
}
 
.label_boton {
	align-items: center!important;
	justify-content: center;
	display: flex;
}
	
.titulo{
	align-items: center;
    text-align: center;
}
	
	
	
}